@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap);

/* 
TEMPLATES
  */

*{
    /* outline: 1px solid rgb(255, 0, 0); */
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
.hide {
    display: none
}
.gradient-text{
    background: linear-gradient(90deg,#c233ff, #5e1ad3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.noselect {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.btn-outline {
    background: transparent;
    border-radius: 12px;
    position: relative;
    text-align: center;
    display: inline-block;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 0;
    padding: 25px;
    width: 200px;
    font-family: Sora, sans-serif;
}
.btn-outline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    border: 2px solid transparent;
    background: linear-gradient(90deg,#c233ff, #5e1ad3) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}
.btn-outline:hover{
    background: linear-gradient(90deg,#c233ff, #5e1ad3) border-box;
}
.btn-main {
    background: linear-gradient(90deg,#c233ff, #5e1ad3) border-box;
    border-radius: 12px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 0;
    padding: 25px;
    width: 200px;
    font-family: Sora, sans-serif;
}
.btn-main:hover{
    background: linear-gradient(90deg,#a626dd, #5113bb) border-box;
}
.sectiontitle {
    font-size: 4em;
    margin: 250px auto 100px auto;
    text-align: center;
    font-family: Sora, sans-serif;
}
#move{
    position: absolute;
    top: 85%;
    right: 0;
    bottom: 0;
    left: 5%;
    width: 20%;
}

/*  
BODY & HTML
  */

body {
    background-image: url('../img/background.webp');
    font-family: Roboto;
    min-height: 100vh;
    background-color: #141414;
    margin: auto;
}
html {
    scroll-behavior: smooth;
    color: white;
}

/* 
HERO SECTION
  */

.hero-section {
    width: 75%;
    height: 750px;
    padding: 150px 0 150px 0;
    display: flex;
    justify-content: center;
    gap: 75px;
    margin: auto
}
.maintitle {
    margin-bottom: 12px;
    padding-top: 25px;
    line-height: .9;
    font-size: 6em;
    font-family: Sora, sans-serif;
}
.maintitle h1 {
    text-align: left;
    margin: 0;
}
.desc {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 1.6em;
    color: #ebebeb;
}
.desc p {
    margin: 5px;
}
.herotext{
    width: 50%;
}
#cloudimg{
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
.dev{
    font-family: Sora, sans-serif
}
.check::before{
    content: "##";
    color: transparent;
    background-image: url('../img/check.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* 
NAV
  */

nav {
    display: flex;
    z-index: 3;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background:rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}
nav ul {
    display: inline-flex;
    font-size: 1.1em;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
}
li a {
    margin: 20px;
}
#logo{
    margin-left: 100px;
    font-size: 32px;
}
#logo:hover{
    background: linear-gradient(90deg,#c233ff, #5e1ad3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    cursor: pointer; 
}

/* 
SOCIALS SECTION
  */

.socials-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100px 0 100px 0;
    gap: 50px;
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    text-decoration: none;
    background:radial-gradient(circle, rgba(123, 97, 255, .2), rgba(123, 97, 255, .05));
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    transition: .1s transform;
}
.social img{
    width: 75%;
}
.social:hover{
    transform: scale(1.2);
}

/* 
LANGUAGES SECTION
  */

.languages-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.slider-all h3{
    margin: 10px;
    padding: 0;
    font-size: 24px;
}

.slider-all{
    height: 75px;
    width: 50%;
    text-align: center;
}
.slider-base{
    display: flex;
    background:radial-gradient(circle, rgba(123, 97, 255, .2), rgba(123, 97, 255, .05));
    height: 25px;
    width: 100%;
    border-radius: 50px;
}
.slider{
    background: linear-gradient(90deg,#c233ff, #5e1ad3);
    width: 50%;
    border-radius: 50px;
    display: flex;
    justify-content: flex-end;
}
.slider i{
    position: relative;
    top: 30px;
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
}
.html{
    width: 90%;
}
.cs{
    width: 75%;
}
.js{
    width: 10%;
}
.python{
    width: 25%;
}

/* 
PROJECTS SECTION
  */

.projects-section{
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}
.cards{
    width: 50%;
    display: inline-flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    background:radial-gradient(circle, rgba(123, 97, 255, .2), rgba(123, 97, 255, .05));
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    font-size: 16px;
    line-height: .75;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    transition: border .15s, transform .1s;
    font-family: monospace;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-long {
    width: 420px;
    font-size: 32px;
}
.card:hover {
    transform: scale(1.2);
    z-index: 1;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.card img{
    width: 15%;
    border-radius: 50%;
    margin: 20px;
}
.card h2{
    margin: 0;
}

/* 
FOOTER
  */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #5e1ad300;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    height: 250px;
    color: #8f8f8f;
    width: 100%;
    text-align: center
}
footer hr{
    width: 75%;
    border-radius: 5px;
}
.heart {
    animation: .75s infinite alternate heart;
    color: #6732d8
}

@keyframes heart {
    from {
        color: #6732d8
    }
    to {
        color: #8f8f8f
    }
}

@media (max-width:1200px) {
    #logo{
        display: none;
    }
    nav {
        justify-content: center
    }
    #cloudimg{
        display: none;
    }
    .herotext{
        width: 100%;
    }
    .slider-all{
        width: 60%;
    }
    .cards{
        width: 75%;
    }
}

@media (max-width:550px) {
    .sectiontitle {
        font-size: 3em;
        margin: 200px auto 50px auto;
    }
    nav {
        display: none;
    }
    .maintitle {
        font-size: 4em;
    }
    .socials-section{
        width: 75%;
        margin: auto;
    }
    #move{
        display: none;
    }
    .card {
        font-size: 12px;
        width: 150px;
        height: 150px;
    }
    .card-long {
        width: 320px;
        font-size: 24px;
    }
}
